Let's do some simple Python commands like adding numbers. Click "Run" to evaluate each line.

In [ ]:
x = 2 + 3

In [ ]:
x

In [ ]:
y = 10 - 3

In [ ]:
y

In [ ]:
x + y

**Activity 1:** Create a variable 'z' with value 4 and multiply it by x and y. What value do you get?

Now let's manipulate a string. This string sort of looks like a amino acid sequence. A string is stored as an array of characters, and this array can be subset.

In [ ]:
AA_string = "QWEOIURFDFGBVS"

In [ ]:
AA_string

In [ ]:
AA_string[2:6]

In [ ]:
FASTA_Calmodulin = "MADQLTEEQIAEFKEAFSLFDKDGDGTITTKELGTVMRSLGQNPTEAELQDMINEVDADGNGTIDFPEFLTMMARKMKDTDSEEEIREAFRVFDKDGNGYISAAELRHVMTNLGEKLTDEEVDEMIREADIDGDGQVNYEEFVQMMTAK*"

**Activity 2:** Subset the FASTA_Calmodulin amino acid sequence to provide the first 10 amino acids.

To utilize more functions, you can install and import packages.

In [ ]:
from math import sqrt

In [ ]:
sqrt(16)

**Activity 3:** Use the math library to return the sine of (x times y)

Here's a conditional statement that uses the value of variable "y" to determine which string is printed.

In [ ]:
if (y == 13):
    print ("UNLUCKY")
elif (y == 7):
    print ("DEFINITELY LUCKY")
else:
    print ("MIGHT BE LUCKY")

**Activity 4** Modify the if statement above to also require "x" be equal to 7 to print "DEFINITELY LUCKY"

A lot of datasets consist of large arrays or matrices of numbers. The package numpy is useful for manipulating these data types. Here I define two matrices of dimensions 2x2.

In [4]:
import numpy as np

In [7]:
matrix1 = np.array([[1, 1],[0, 2]])

In [8]:
matrix2 = np.array([[6, 0],[0, 5]])

In [9]:
matrix1.ndim

2

In [12]:
matrix1.shape

(2, 2)

In [10]:
matrix1 * matrix2 # elementwise product

array([[6, 0],
       [0, 5]])

In [11]:
matrix1 @ matrix2 # dot product

array([[6, 5],
       [0, 5]])

**Activity 5**: Divide matrix1 (dividend) by matrix2 (divisor) and store in matrix3.

Pandas provides data frame functionality similar to R data frames.

In [14]:
import pandas as pd

In [63]:
hurricanes = pd.read_csv("hurricanes.csv")

In [64]:
hurricanes

,Month,Average,Year2005,Year2006,Year2007,Year2008,Year2009,Year2010,Year2011,Year2012,Year2013,Year2014,Year2015
0,May,0.1,0,0,1,1,0,0,0,2,0,0,0
1,Jun,0.5,2,1,1,0,0,1,1,2,2,0,1
2,Jul,0.7,5,1,1,2,0,1,3,0,2,2,1
3,Aug,2.3,6,3,2,4,4,4,7,8,2,2,3
4,Sep,3.5,6,4,7,4,2,8,5,2,5,2,5
5,Oct,2.0,8,0,1,3,2,5,1,5,2,3,0
6,Nov,0.5,3,0,0,1,1,0,1,0,1,0,1
7,Dec,0.0,1,0,1,0,0,0,0,0,0,0,1

**Activity 6**: Compute the average number of hurricanes in August between 2009 and 2014.